<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dictionary </h3>
    <ul>
      <li> Featured Skills</li>
      <li> C </li>
    </ul>
    <p>Created a dictionary with the help of Linked Lists to display the meaning of an input word, delete a certain word and insert a word into the dictionary database.</p>
    <a class="project-link" href="https://github.com/anishkasi/Resume">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NGO website</h3>
    <ul>
      <li> Javascript</li>
      <li> CSS</li>
      <li> HTML</li>
      <li> PHP</li>
    </ul>
    <p>Created a website for an NGO incorporating server side scripting and client side scripting.  Numerous functionalities including Form Validation , Animations and Transitions, Scroll Effects, etc., were implemented.</p>
    <a class="project-link" href="https://github.com/anishkasi/Resume">Check it out</a>
  </div>
</div>
